.message{
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
}
.message_info{
    margin-left: 20px;
}
.message_timestamp{
    margin-left: 20px;
    color: gray;
    font-size: x-small;
}